<!DOCTYPE html>
<html>
<head>
  <title>Chats on chats</title>
  <% include ../partials/header.ejs %>
</head>

<!-- TODO: migrate to react and toss out ejs  -->

<body>
  Aloha. <br />
  Welcome to our super cool chat app using Smooch, Freshdesk, and Heroku <br />
  <br />
  If you are tryna test out our chat client <a href="/chat">go here</a>
</body>
</html>